
.container {
  background: rgba(81, 140, 211, 0.9);
  color: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 11%;
  left: 40%;
}
.registration{
    text-align: center;
}
.heading{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}
.input-group{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin: 15px;
}
.input-label{
    font-size: 25px;
    margin-bottom: 2px;
}
.input-box{
    padding: 5px;
    border-radius: 10px;
    border-color: aqua;
    font-size: 25px;
}
.btn{
    background: rebeccapurple;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid aqua;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
}
.text-center{
    text-align: center;
}